.up_password {
    display: flex;
    justify-content: center;
    
    min-height: 200pt;
    margin-top : 50pt;
    margin-bottom : 100pt;
    margin-left : 100pt;
    margin-right : 100pt;
}

.login-form {
    width: 500px;
  }
  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }

  .resetSuccess{
    font: 16pt Sofia Pro Black;
     line-height: 18 pt;
     Color: 000000
 }
 