.homepageheader {
    background-color: #005bbb;
    position: relative;
    top: 0;
    bottom:0;
    height:180px;
  }
  .signup {
    background-color: #DA3C38;
    border: 1px solid #e98a84;
    border-radius: 7px;
    color: #fff;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1.2;
    font-family: Sofia, Arial, sans-serif;
    margin: 0px 0px 0px 10px;
    height: 26px;
    width: 81px;
    
    padding: 6px 7px 7px 7px;
  }
  .signup:hover{
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.76);
  }
  .lockup {
    position:absolute;
    top:35px;
    left:80px;
    display: flex;
    flex-direction: row;
    
  }
  .logo {
    display: block;
    margin: 2px 0 0;
    width: 100px;
    height: 45px;
    background-size: 181px 20px;
    flex: 1;
  }
  .black {
    display: none;
  }
  .title {
      font: 35px Kievit,"Trebuchet MS",sans-serif;;
      color:white;
      line-height: 36px;
      margin: 6px 0 -6px -3px;
      letter-spacing: -1px;
      display: block;
      border-left-width: 2px;
    border-left-color: rgb(255,255,255,1);
    border-left-style:solid;
    padding-left: 10px;
    flex: center;
    text-decoration: none;
    
  }
  .title_name{
    font:14px Sofia,Arial,sans-serif;
  }
  .an
  {
    text-decoration:'none';
    color:'white';
    
  
  }

  
  .tasknav {
    position: absolute;
    right: 0;
    bottom: 36px;
    width: 580px;
    height: 36px;
    text-align: right;
    padding-right: 80px;
    padding-left: 40px;

  }
  .Login {
    font-size: 12px;
    background-color: #005bbb;
    color: white;
    Margin: 10px 0px;
    font-family: Sofia, Arial, sans-serif;
    height: 26px;
    width: 81px;
    border-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 7px;
    padding: 6px 7px 7px 7px;
    cursor: 'pointer'
  }
  .Login:hover{
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.76);
}
.ubicon {

  text-align: center;
}

.social {
  position: absolute;
    right: 0;
    top: 31px;
    width: 580px;
    height: 26px;
    text-align: right;
}
.socialbutton-section {
  display:inline-block;
}
.socialbutton-a {
  display: block;
    width: 26px;
    height: 26px;
    font-size: 26px;
    line-height: 26px;
    text-decoration: none;
    margin-bottom: 7px;
    color: #fff;
    transition: opacity 500ms ease;
}
.test{
    display: flex;
    justify-content: flex-end;
    transition: opacity 500ms ease;
    flex-direction: row;
    padding: 40px 100px 10px 10px;
    

}