
.ant-input-affix-wrapper {
    position: relative;
    display: inline-block;
    width:auto;
    min-width: 0;
    padding: 5px 16px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.fp_container {
    width: auto;
    min-height: 200pt;
    margin-top : 50pt;
    margin-bottom : 100pt;
    margin-left : 100pt;
    margin-right : 100pt;

}
.e_not_rec{
    font: 14pt Sofia Pro Light;
    line-height: 18pt;
    color: #000000;
    margin-top: 10pt;
}

.resetSuccess{
   font: 16pt Sofia Pro Black;
    line-height: 18 pt;
    Color: 000000
}
