.Topnav{
    float: right;
    color: white;
    font-weight: bold;
    background-color: gray;
    font-size: 120%;
}

.Toptitle{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    color: white;
    font-weight: bolder;
}
.section1{
    background-image: url('../../Assets/homebackground.png');
}
.section2{
    background-color: #887cB5;
}
.section3{
    background-color: #95d1f0;
}
.section4{
    background-color: #f28b9f;
}
.section5{
    background-color: rgb(233, 233, 233);
}
.BigMessage{
    font-family: 'Cooper Black';
    font-size: 200%;
}
.BigMessage:hover{
    font-family: 'Cooper Black';
    font-size: 250%;
    transition: 1s;
}
.letsgo{
    text-align: center;
    width: 20%;
    border-color: black;
    color: black;
    background-color: transparent;
}
.letsgo:hover{
    background-color: white;
    color: black;
    border-color: black;
    border-width: 3px;
    font-weight: bold;
    transition: 1s;
}
.buttontext{
    font-family: 'Cooper Black';
}
.SectionText{
    text-align: left;
    font-style: italic;
    font-size: 120%;
}
.sec2buttons{
    box-sizing: border-box;
    text-align: center;
    width: 30%;
    border-color: burlywood;
    color: burlywood;
    border-radius: 20px;
    font-weight: bold;
    border-width: 3px;
    background-color: transparent;
}
.sec2buttons:hover{
    text-align: center;
    width: 30%;
    background-color: burlywood;
    color: black;
    border-radius: 20px;
    border-width: 3px;
    transition: 1s;
    border-color: burlywood;
}
.sec4buttons{
    text-align: center;
    width: 80%;
    height: 20%;
    font-family: 'Cooper Black';
    font-size: 120%;
    border-color: rgb(104, 104, 104);
    border-width: 5px;
    background: white;
    color: rgba(104,104,104);
}
.sec4buttons:hover{
    background: transparent;
    border-color: black;
    color: black;
    transition: 0.5s;
}
.caroimgs{
    border: 5px solid rgba(104,104,104);
    border-radius: 20px;
}
.sec5header{
    font-size: 250%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.sec5text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(128, 128, 128);
}

.formtext{
    text-align: center;
}
.submitbutton{
    color: white;
    text-align: center;
    width: 40%;
    background-color: darkgreen;
    font-weight: bold;
}
.submitbutton:hover{
    color: white;
    background-color: darkgreen;
    border: 3px solid black;
}
.footer{
    background-color: gray;
}