.BigMessage{
    font-family: 'Cooper Black';
    font-size: 200%;
    padding-bottom: 0px;
    color: white;
}
.SurveySection{
    background-color: #a37cb5;
    height: 100%;
}
.ant-divider{
    background-color: white;
}
.Descrip{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 100%;
}
.formlabels{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    size: 50%;
    text-align: left;
    font-weight: bold;
}
.formcomponents{
    border: 3px solid black;
    background-color: white;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    text-align: left;
}
.OptTexts{
    color: darkslategray;
    font-size: 150%;
    padding-left: 10%;
    padding-right: 5%;
    width: 200%;
}
.PrevNext{
    box-sizing: border-box;
    padding-bottom: 4%;
    font-size: 100%;
    color: white;
    background-color: darkblue;
    border: 3px solid transparent;
    width: 40%;
}
.PrevNext:hover{
    box-sizing: border-box;
    padding-bottom: 4%;
    font-size: 100%;
    color: white;
    background-color: rgb(29, 167, 185);
    border: 3px solid black;
    width: 40%;
}
.PrevNext:visited{
    box-sizing: border-box;
    padding-bottom: 4%;
    font-size: 100%;
    color: white;
    background-color: darkblue;
    border: 3px solid transparent;
    width: 40%;
}
.PrevNext:active{
    box-sizing: border-box;
    padding-bottom: 4%;
    font-size: 100%;
    color: white;
    background-color: darkblue;
    border: 3px solid transparent;
    width: 40%;
}
.PrevNext:link{
    box-sizing: border-box;
    padding-bottom: 4%;
    font-size: 100%;
    color: white;
    background-color: darkblue;
    border: 3px solid transparent;
    width: 40%;
}
.ProgBar{
    background-color: transparent;
}
