@import '~antd/dist/antd.css';
.login-header{
    text-align:center ;
    margin-top: -2rem;
    /* font-family: 'fangsong'; */
}


.login-form {
  max-width: 500px;
  font-family: 'fangsong';
  background-color: #fff;
  padding:50px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 40%;
  margin: -150px 0 0 -100px; 
  border-radius: 5px;
  box-shadow: 3px 3px 10px 4px #d9d9d969;
}
.login-form-forgot {
  float: center;
}
.ant-col-rtl .login-form-forgot {
  float: center;
}
.login-form-button {
  width: 100%;
}

.ant-btn-primary {
    color: #fff;
    background: #1d8a8a ;
    border-color: #1f9696;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    -webkit-box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    background: #27a8a8;
    border-color: #2db9b9;
}


a{
     color: #27a8a8;
}
a:hover {
    color: #27a8a8;
}

.App-header {

background-color: rgb(190 190 190 / 20%) !important;
    
    /* background-image: url(../../Assets/background.jpg) !important; */
  }