.fp_container {
    width: auto;
    min-height: 200pt;
    margin-top : 50pt;
    margin-bottom : 100pt;
    margin-left : 100pt;
    margin-right : 100pt;

}
.e_not_rec{
    font: 14pt Sofia Pro Light;
    line-height: 18pt;
    color: #000000;
    margin-top: 10pt;
}

.resetSuccess{
   font: 16pt Sofia Pro Black;
    line-height: 18 pt;
    Color: 000000
}
