.Steps{
    margin-top: 100px;
    margin-left:50%;
    width: 100%;
}
p1{
    color:red
}
/* .DatePicker{
    margin-left:"100px";
    margin-top:"30px"
}
Input{
    margin-left:"100px";
    margin-top:"30px"
}

Button{
    margin-left:"100px";
} */